@model IEnumerable<Tourism.Models.State>

@{
    List<string> allTimeZones = ViewData["AllTimeZones"] as List<string>;
}

<h1>States</h1>

<h2>Time Zone Filter</h2>
@if (@ViewData["SearchTimeZone"] != null)
{
    <p>Filtering by: <strong>@ViewData["SearchTimezone"]</strong></p>
}



<ul>
    <li><a href="/states">Clear Filter</a></li>
    @foreach (var timeZone in allTimeZones)
    {
        <li><a href="/states?timeZone=@timeZone">@timeZone</a></li>
    }
</ul>


@foreach (var state in Model)
{
    <p><strong>@state.Abbreviation</strong>: <a href="/states/@state.Id">@state.Name</a></p>
}

<p><a href="/states/new">New State</a></p>
